body {
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: arial;
}
.loading {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.welcomeNote{
color: #ffffff;
text-align: center;
}
.instructions{
color: #ffffff;
text-align: center;
}
.sk-spinner-wave.sk-spinner {
  height: 70px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.sk-spinner-wave.sk-spinner div {
  background-color: #fff;
  width: 7px;
  margin: 0 3px 0 0;
}
.retry {
  position: absolute;
  top: 10px;
  right: 10px;
}
#game {
  margin: 30px auto 0;
  width: 660px;
}
#game .retry {
  margin-top: 20px;
}
#game .status {
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.52)
}
#game .flip-container {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  font-size: 150px;
}
#game .flip-container,
#game .front,
#game .back {
  width: 150px;
  height: 150px;
  cursor: pointer;
}
#game .flip-container .flipper,
#game .front .flipper,
#game .back .flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
#game .flip-container .flipper.flipped,
#game .front .flipper.flipped,
#game .back .flipper.flipped {
  transform: rotateY(180deg);
}
#game .flip-container .flipper .front,
#game .front .flipper .front,
#game .back .flipper .front,
#game .flip-container .flipper .back,
#game .front .flipper .back,
#game .back .flipper .back {
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  line-height: 150px;
  border-radius: 10px;
  text-align: center;
  backface-visibility: hidden;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
#game .flip-container .flipper .front,
#game .front .flipper .front,
#game .back .flipper .front {
  z-index: 2;
  transform: rotateY(0deg);
      background: url('../images/cover.jpg');
    background-size: cover;
}
#game .flip-container .flipper .back,
#game .front .flipper .back,
#game .back .flipper .back {
  background-size: cover;
  transform: rotateY(180deg);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
       background: rgba(103, 61, 61, 0.85);
    z-index: 9;
}
.playAgain {
      width: 510px;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    z-index: 10;
    background: #cf1a5d;
    left: auto;
    right: auto;
        width: 510px;
    padding: 68px;
    color: white;
    border-radius: 5px;
}
.playButton{
  text-transform: uppercase;
  cursor: pointer;
      border-radius: 2px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.31);
    outline: none;
    background: white;
    border: none;
    padding: 17px;
    font-weight: bold;
    color: #333;
}
.icons {
    float: left;
    width: 32%;
    text-align: center;
    color: #333;
    font-weight: bold;
}

.prizes {
    padding: 2rem 0;
    display: table;
    width: 100%;
    background: #FFF3FA;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: -6px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.52);
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.icons:nth-child(1):before {
    background: url(../images/mobile.png);
    background-size: contain;
    content: 'sd';
    color: transparent;
    zoom: 1.4;
}
.icons:nth-child(2):before {
    background: url(../images/movietickets.png);
    background-size: contain;
    content: 'sd';
    color: transparent;
    zoom: 1.4;
}
.icons:nth-child(3):before {
    background: url(../images/bike.png);
    background-size: contain;
    content: 'sd';
    color: transparent;
    zoom: 1.4;
}